* {
  margin-top: 5px;
}

.navigation {
  background-color: cornflowerblue;
  margin: 0 2%;
}

.navigation li{
  display: inline-block;
  width: 200px;
  height: 50px;
  border-right: 1px#fff solid;
  color: white;
  font-weight: bold;
  list-style: none;
  text-align: center;
  line-height: 50px;
}

.navigation li:first-child {
  border-left: 1px#fff solid;
}

.first-article {
  display: inline-block;
  width: 72%;
  margin-left: 2%;
  padding-bottom: 70px;
}

.second-article {
  margin: 2%;
  padding-bottom: 70px;
}

.third-article {
  margin: 2%;
}

h1 {
  margin-left: 200px;
  padding-top: 50px;
}

p {
  text-indent: 3em;
  margin-right: 10px;
  padding-top: 45px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.8em;
}

hr {
  opacity: 30%;
  margin: 2%;
}

.article-small {
  vertical-align: top;
  display: inline-block;
}

#scientific-classification img{
  width: 300px;
  padding-top: 40px;
}

#scientific-classification ul {
  margin-top: 0;
  background-color: yellow;
  border: 1px solid wheat;
}

#scientific-classification li {
  text-align: right;
  list-style: none;
  font-weight: bold;
  font-size: 1.2em;
  padding-right: 10px;
}











